$blue: #4540CD ;
$red: #FA5893;
$green: #13E9C5;

$black: #20222F;
$white: #ffffff;

$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-S: 20px;
$space-M: 34px;
$space-L: 58px;

$padding-xs: 2px;
$padding-s: 4px;
$padding-m: 8px;
$padding-l: 46px;
$padding-gutter: 75px;
$padding-section: 130px;

$font-family: 'Manrope', sans-serif;

$font-xs: 12px;
$font-s: 16px;
$font-m: 26px;
$font-l: 43px;
$font-xl: 72px;

$transition-time: 0.3s;

$phone-min-screen: 360px;
$phone-screen: 600px;
$tablet-screen: 900px;
$laptop-screen: 1300px;
$desktop-max-screen: 1500px;
