$space-2: 2px;
$space-4: 4px;
$space-8: 8px;
$space-S: 20px;
$space-M: 34px;
$space-L: 58px;

$padding-xs: 2px;
$padding-s: 4px;
$padding-m: 8px;
$padding-l: 46px;
$padding-gutter: 75px;
$padding-section: 130px;

