
button {
  background-color: yellow;
  color: $red;
  border: 3px solid red;
  padding: 1rem;
}

.primary {
  background-color: yellow;
  color: $red;
  border: none;
  padding: 2rem;
}

.test {
  font-size: $font-l;
}
